<h3>{{title}}</h3>
<dl>
    <dt>Beskrivning</dt>    
    <dd>{{description}}</dd>
    <dt>Plats</dt>
    <dd>{{location}}</dd>
    <dt>Rapporterat</dt>
    <dd>{{reportedTime}}</dd>
    <dt>Prioritet</dt>
    <dd>{{priorityString}}</dd>
    <dt>Kategori</dt>
    <dd>{{categoryString}} - {{subcategory}}</dd>
</dl>