*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

#map-container {
	background: #262626;
	height: 100vh;
}

.control-sidepanel {
	background: #fff;
	padding: 12px;
}

.control-sidepanel label {
	display: block;
	padding: 6px 0;
}

select, input {
	background: #fff;
	border: 1px solid #ddd;
	padding: 3px;
	display: block;
	width: 100%;
}

dl {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 6px;
}

dd {
	grid-column: 0;
	margin: 0;
}

dt {
	grid-column: 1;
	font-weight: bold;
} 

dt::after {
	content: ": ";
}
